body {
    .footer {
        .logo {
            text-align: center;
            
            &__img {

                width: 10%;
                height: auto;
                margin-top: 15px;
            }
        }
        .content {
            width: 90%;
            margin: 0 auto;
            text-align: center;
            display: flex;
            justify-content: space-evenly;
            .menu {
                padding: 0;
                font-size: 20px;
                width: 15% ;
                list-style: none;
                color: black;
                &__items {
                    margin-bottom: 2.5em;
                    #fr {
                        padding: 3px 8px;
                        border: 1px solid $dark-blue;
                        border-radius: 10px;
                        margin-right: 0.7em;
                       
                    }
                }
                
            }
            .Contact {
                padding: 0;
                font-size: 20px;
                width: 35% ;
                list-style: none;
                &__items {
                    &--title {
                        color: $multi-blue;
                        font-size: 27px;
                        font-weight: bold;
                    }
                    &--nmr {
                        color: $green;
                        font-size: 27px;
                    }
                }
                
            }
            .discreption {
                text-align: left;
                margin-top: 4em;
                font-family: 'cairo';
                font-size: 18px;
                width: 50%; 
                color: #7F7F7F;
             }
        }
        .background {
            height: 36px;
            background-color: $multi-blue;
            border-radius: 10px  10px 0  0 ;
        }
    }
}
