// color 
$light : #D0E5F0;
$white : #FFFFFF;
$noir : #000000;
$blue :#96C5DC;
$dark-blue : #1A519E;
$yellow : #F4CF1B;
$multi-blue: #1078AD;
$grey : #7F7F7F;
$green : #369D53;


$first-color: #F4CF1B;
$second-color: hsl(200,91,68);
$third-color:#7F7F7F;
$fourth-Color: #FFFFFF;
$fifth-color: #000000;
$sixth-color: #369D53;
$seventh-color : #D0E5F0;
$eighth-color:#1078AD; 
$ninth-color: #96C5DC; 
$tenth-color: #1A519E ;
$eleventh-color: #787878;


