@import 'sass/variable/variable';
@import 'sass/mixins/mixins';
@import 'sass/base/base';
@import 'sass/component/header';
@import 'sass/component/animation';
@import 'sass/component/recomondations';
@import 'sass/component/informations';
@import 'sass/component/transmet';
@import 'sass/component/proteger';
@import 'sass/component/footer';
@import 'sass/component/stepBar';
@import 'sass/component/test';






