@mixin btn {
    width: 100%;
    background-color: $multi-blue;
    width: 612px;
    height: 60px;
    color: white;
    font-size: 32px;
    font-weight: bold;
    border: none;
    margin-top: 1em;
    border-radius: 8px;
      &:hover {
        cursor: pointer;
        background-color: $yellow;
        transform: scale(1.1) ;
        transition-duration: .4s;
       }
}
@mixin version($point) {
  $version-mobile: "(max-width: 600px)";
  $version-laptop: "(max-width: 1250px)";

  @if $point == laptop {
    @media {$version-laptop} { @content ; }
 }
 
 @else if $point == mobile {
    @media {$version-mobile}  { @content ; }
 }
}